html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

/* index */

.startContainer {
  margin: 266px auto;
  height: 65px;
  width: 405px;
  border-radius: 70px;
  background: #38d21e;
  color: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.startContainer:hover {
  color: white;
  background: url("https://78.media.tumblr.com/626d444392e641265fbcaf182f800785/tumblr_myu688sDa41ruj667o1_500.gif");
  background-position: center;
  background-size: cover;
}

.startContainer:active {
  color: white;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/226140/tv_static.gif");
  background-position: center;
  background-size: cover;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  width: 375px;
  margin: 0 auto;
}

.playIcon {
  margin-top: -10px;
}

.playIcon img {
  height: 40px;
  width: auto;
}

.start {
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 18px;
  margin-right: 15px;
  text-transform: uppercase;
}

/* room */

.room {
  color: #ccc;
  font-weight: 600;
}

.videoDisplay {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  margin: 40px;
  z-index: 1;
}

.vidContainer {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.vidContainer[data-view="containerMax"] {
  width: 100%;
  height: 100%;
}

.vidContainer[data-view="containerHalf"] {
  width: 50%;
  height: 100%;
}

.vidContainer[data-view="containerMin"] {
  position: absolute;
  z-index: 4;
  top: 20px;
  left: 30px;
  width: 240px;
  height: 180px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.vidContainer[data-view="containerNone"] {
  position: absolute;
  z-index: 2;
  top: -1000px;
  width: 0;
  height: 0;
}

.vidSmallContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video[data-view="max"] {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video[data-view="none"] {
  width: 0;
  height: 0;
}

video[data-view="min"] {
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video[data-view="half"] {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* placeholder */

.placeholder {
  margin: 0;
  padding: 0;
  position: relative;
  width: 50vw;
  height: 100%;
  z-index: 5;
  background: #f4f4f4;
  text-align: center;
}

.waiting {
  font-size: 200px;
  text-transform: uppercase;
  margin: 150px 0 0 0;
}

.infoContainer {
  position: relative;
  display: flex;
  width: 400px;
  height: 65px;
  border-radius: 50px;
  margin: -150px auto 0 auto;
  background: #fff;
  z-index: 5;
  font-size: 13px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.roomURLWrapper {
  display: flex;
  width: 340px;
  height: 100%;
  border-right: 2px solid #666;
  color: #666;
}

.copyURL {
  padding: 3px;
  border-radius: 2px;
  background: #38d21e;
  margin: 20px 10px;
  cursor: pointer;
  color: #fff;
}

.roomURL {
  width: 260px;
  margin: 22px 0 0 10px;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #666;
  outline: none;
  height: 20px;
  font-family: sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif; */
}

.guestEmail {
  width: 60px;
  padding: 18px 6px;
  cursor: pointer;
}

.guestEmail img {
  height: 30px;
  width: auto;
}

/* window-maximize, object-group, columns*/

.console {
  position: fixed;
  bottom: 80px;
  left: 0;
  width: 380px;
  z-index: 3;
  display: none;
}

.chatbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}

.messages {
  padding: 5px;
  margin: 5px;
  height: 300px;
  width: 100%;
  overflow: auto;
  z-index: 3;
  box-sizing: border-box;
}

.messages li {
  list-style-type: none;
  padding: 2px 0;
  font-size: 14px;
  color: #e2e2e2;
}

.enterMsg {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

#msgInput {
  width: 100%;
  height: 20px;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  color: #e2e2e2;
  background: transparent;
}

#msgInput:focus,
#msgSubmit:focus,
.callBtn:focus,
.endStream:focus {
  outline: none;
}

#msgSubmit {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

#msgSubmit:hover {
  color: tomato;
}

.controlWrapper {
  position: fixed;
  display: flex;
  bottom: 30px;
  left: calc(50% - 165px);
  z-index: 5;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #666;
  padding: 5px 20px;
  border-radius: 50px;
  width: 250px;
}

.controlWrapper button {
  position: relative;
  cursor: pointer;
  border: none;
  z-index: 5;
  color: #fff;
  display: none;
  outline: none;
  padding: 10px 10px;
  margin: 0;
  height: 30px;
  box-sizing: content-box;
}

.controlWrapper button img {
  width: auto;
  height: 100%;
}

.controlWrapper .handleChat,
.controlWrapper .handleAudio,
.controlWrapper .handleVideo,
.controlWrapper .settings.show,
.controlWrapper .callBtn.show,
.controlWrapper .endStream.show,
.console.show {
  display: block;
}

.settingsOptions {
  position: absolute;
  bottom: 50px;
  background: #000;
  color: #e2e2e2;
  border-radius: 5px;
  border: 1px solid #fff;
  display: none;
}

.settingsOptions.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.settingsOptions div {
  padding: 5px 10px;
}

.settingsOptions div:hover {
  background: #e2e2e2;
  color: #666;
}

@media screen and (max-width: 900px) {
  .waiting {
    font-size: 80px;
    margin-top: 200px;
  }

  .infoContainer {
    width: 300px;
  }

  .copyURL {
    margin: 22px 10px;
  }

  .roomURL {
    margin: 26px 0 0 10px;
  }

  .roomURLWrapper {
    width: 260px;
  }

  .copyURL {
    margin: 20px 5px;
  }

  .roomURL {
    width: 220px;
    margin: 22px 0 0 5px;
    font-size: 12px;
  }

  .guestEmail {
    width: 40px;
    padding: 23px 2px;
    cursor: pointer;
  }

  .guestEmail img {
    height: 20px;
    width: auto;
  }
}

@media only screen and(min-width: 600px) {
  .vidContainer.pip-min {
    width: 120px;
    height: 90px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .vidContainer.pip-min {
    width: 120px;
    height: 90px;
  }
}
